/* 	 Header	  */
html{
	overflow: hidden !important;
}
body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header ul{
	display: flex;
	list-style-type: none;
	margin-right: 1em;
	align-items: center;
}
header h1{
	font-weight: 700;
	font-size: 40px;
	margin-left: 1em;
	margin-bottom: 0;
}
header a{
	color: white !important;
}
header a:hover{
	color: white;
}
header{
	background-color: #002D94;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 1em;
	width: -webkit-fill-available;
	position: fixed;
	top: 0;
	z-index: 1000;
}
li{
	margin: 0 1em !important;
	font-size: 20px;
	font-weight: 600;
}
footer{
	position: fixed;
	bottom: 0;
	width: -webkit-fill-available;
}
header img{
	border-radius: 50%;
}

/*   Main   */

main{
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0; 
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#042470, #021134);
	color: white;
	cursor: all-scroll;
	transform: scale(1,1);
}
div#drag div{
	position: absolute;
	cursor:default;
}
div#drag{
	width: 1260px;
	height: 1260px;
}
div#card1{
	top: 130px;
    left: 650px;
}
div#card2{
	top: 480px;
    left: 534px;
}
div#card3{
	top: 480px;
    left: 754px;
}
div#card4{
	top: 480px;
    left: 1199px;
}
div#card5{
	top: 480px;
    left: 89px;
}
div#card6{
	top: 670px;
    left: 474px;
}
div#card7{
	top: 670px;
    left: 814px;
}
div#card8{
	top: 800px;
    left: 644px;
}
div#card9{
	top: 1060px;
    left: 324px;
}
div#card10{
	top: 1060px;
    left: 974px;
}