@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--================ Start Home Banner Area =================-->
<section class="home_banner_area mb-0 pt-4" id="bannerdogrupo">
    <div class="container">
        <div class="row">
            <aside id="asidegrupo" class="nav col-lg-3 w-50 px-2 rounded">
                <ul class="navbar-nav w-100 border-bottom pb-5" id="ulgrupo">
                    <li>
                        <h4 class="text-center">grupo exemplo</h4>
                    </li>
                    <li id="ligrupo" class="ligrupo2-ativo">
                        <a id="myButton" class="nav-link" href="#">Informações do Grupo</a>
                    </li>
                    <li id="ligrupo" class="ligrupo2">
                        @Html.ActionLink("Lista de Membros", "MembrosDetails", "Admin", new { area = "Seguranca" }, new { @class = "nav-link", @id = "myButton" })
                    </li>
                    <li id="ligrupo" class="ligrupo2">
                        @Html.ActionLink("Lista de Administradores", "AdmDetails", "Admin", new { area = "Seguranca" }, new { @class = "nav-link", @id = "myButton" })
                    </li>
                </ul>
                <ul class="navbar-nav w-100" id="ulgrupo">
                    <li id="ligrupo" class="ligrupo">
                        <a id="myButton" class="nav-link" href="#">Editar Grupo</a>
                    </li>
                    <li id="ligrupo" class="ligrupo">
                        <a class="nav-link" href="#">Desativar Grupo</a>
                    </li>
                    <li id="ligrupo" class="deletargrupo">
                        <a class="nav-link" href="#">Excluir Grupo</a>
                    </li>
                    <li id="lifimgrupo" class="">
                        @Html.ActionLink("<- Voltar", "Grupos", "Admin", new { area = "Seguranca" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </aside>

            <section id="formcontato" class="formgrupo">
                <article class="artigo">
                    <form id="formcontato" class="formulario" method="POST" action="processacont.php">
                        <input type="hidden" name="operacao" value="incluir">
                        <h4 id="dadosgrupoh4">Dados do Grupo</h4>
                        <div class="form-row">
                            <div class="form-groupp">
                                <label class="grupo" for="senha">Nome</label>
                                <input type="text" name="senha" id="myInput1grupo" size="27" class="txtareagrupo form-control" value="grupoLanayLinda" readonly="readonly">
                            </div>
                            <div class="form-groupp" id="dategrupo">
                                <label class="grupo" for="data">Ativo desde</label>
                                <input type="text" name="data" id="myInput2grupo" size="26" class="txtareagrupo form-control" value="04/01/2021" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-groupp h-50">
                                <label class="grupoo" for="nome">Descrição</label>
                                <textarea id="myInput3grupo" name="nome" size="55" class="txtareagrupo form-control" cols="65" rows="7" readonly="readonly">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu orci eget nulla lacinia finibus ac et mauris. Morbi tincidunt lorem vitae lacus sollicitudin vestibulum. Aenean quam orci, euismod ut augue a, mollis gravida enim. Donec imperdiet metus posuere, eleifend nisl sed, mollis arcu. Curabitur blandit nibh ante, faucibus commodo ligula posuere non. Resumindo: Lanay é linda!</textarea>
                            </div>
                        </div>
                    </form>
                </article>
            </section>
        </div>
        <div id="nivelgrupo">
            <button id="botaoatdogrupo" class="botaoatgrupo">Atualizar meus dados</button>
        </div>
        <!-- <div id="linhabotoes1">
            <button type="submit" id="primeibot" >Iniciar</button>
            <button type="submit" id="botaoinic" >Iniciar</button>
            <button type="submit" id="botaoinic" >Iniciar</button>
            <button type="submit" id="botaoinic" >Iniciar</button>
            <button type="submit" id="botaoinic" >Iniciar</button>
            <button type="submit" id="ultimobot" >Iniciar</button>
        </div> -->

</section>
<!--================ End Home Banner Area =================-->