@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container">
            <div class="row">
                <div class="banner_content">
                    <div id="informacoes">
                        <div id="boxcomecar">
                            <h2 id="aprendalibras">
                                Aprenda LIBRAS <br>
                                de forma online <br>
                                e gratuita
                            </h2>
                            <a href="@Url.Action("Registro", "Account")"><button type="submit" id="comecar" class="btn search_course_btn">Começar</button></a>
</div>
                        <div id="boxlogin">
                            <h2 id="nossotime">
                                Já faz parte <br>
                                da nossa <br>
                                plataforma?
                            </h2>
                            <a href="@Url.Action("Registro", "Account")"><button type="submit" id="logincomecar" class="btn search_course_btn">Cadastre-se</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="feature_area">
        <div class="container">
            <div class="row justify-content-end" id="quemsomos">
            </div>
        </div>
    </section>
    <!--================ End Feature Area =================-->
    <!--================ Start Fact Area =================-->
    <div class="fact_area overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main_title">
                        <h2>QUEM SOMOS</h2>
                        <p>Uma equipe onde acessibilidade é a palavra chave. Com nosso auxílio você pode aprender LIBRAS de forma dinâmica, fácil e gratuita.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src="~/Content/img/f-icons/icon1.png" alt="">
                        </div>
                        <h4>Acessibilidade</h4>
                        <p>O Dia Nacional da LIBRAS foi instituído como alerta para as grandes dificuldades em acessibilidade que esses cidadãos enfrentam, da socialização ao mercado de trabalho.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src="~/Content/img/f-icons/icon2.png" alt="">
                        </div>
                        <h4>Números</h4>
                        <p>Dados do Censo de 2010 do IBGE indicam que cerca de 2,2 milhões de brasileiros têm deficiência auditiva em situação severa; e, entre estes, 344,2 mil são surdos.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-4 col-md-6">
                    <div class="single_fact">
                        <div class="f_icon">
                            <img src="~/Content/img/f-icons/icon3.png" alt="">
                        </div>
                        <h4>Importância</h4>
                        <p>É um meio de comunicação e interação social com uma estrutura própria gramatical e semântica, que abre as portas para oportunidades pessoais e profissionais.</p>
                    </div>
                </div>
                <!-- single features -->
                <!-- single features -->
                <!-- single features -->

            </div>
        </div>
    </div>