@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="MainDesc py-5">
        <div class="container">
            <div class="row">
                <aside id="asidegrupo" class="nav col-lg-3 w-50 px-2 rounded mr-5">
                    <ul class="navbar-nav w-100 border-bottom pb-5" id="ulgrupo">
                        <li>
                            <h4 class="text-center">grupo exemplo</h4>
                        </li>
                        <li id="ligrupo" class="ligrupo2">
                            @Html.ActionLink("Informações do Grupo", "GrupoDetails", "Admin", new { area = "Seguranca" }, new { @class = "nav-link", @id = "myButton" })
                        </li>
                        <li id="ligrupo" class="ligrupo2-ativo">
                            <a id="myButton" class="nav-link" href="#">Lista de Membros</a>
                        </li>
                        <li id="ligrupo" class="ligrupo2">
                            @Html.ActionLink("Lista de Administradores", "AdmDetails", "Admin", new { area = "Seguranca" }, new { @class = "nav-link", @id = "myButton" })
                        </li>
                        <li id="lifimgrupo" class="">
                            @Html.ActionLink("<- Voltar", "Grupos", "Admin", new { area = "Seguranca" }, new { @class = "nav-link" })
                        </li>
                    </ul>
                </aside>
                <table class="table table-bordered col-lg-7 ml-5" style="font-family: 'Montserrat', sans-serif; font-size: 14px;">
                    <thead>
                        <tr>
                            <th colspan="3" scope="col" class="text-center"><h4>Membros</h4></th>
                        </tr>
                        <tr>
                            <th><h4>Id</h4></th>
                            <th><h4>Nome</h4></th>
                            <th><h4>Remover</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dados">
                            <td>1</td>
                            <td>Hermes da Fonseca</td>
                            <td><button class="btn deletargrupo text-white" type="button">Remover</button></td>
                        </tr>
                        <tr class="dados">
                            <td>2</td>
                            <td>Nilo Peçanha</td>
                            <td><button class="btn deletargrupo text-white" type="button">Remover</button></td>
                        </tr>
                        <tr class="dados">
                            <td>3</td>
                            <td>Epitácio Pessoa</td>
                            <td><button class="btn deletargrupo text-white" type="button">Remover</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
</section>