@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--================ End Header Menu Area =================-->
    <!--================ Start Home Banner Area =================-->
    <!--================ End Home Banner Area =================-->
    <!--================ Start Feature Area =================-->
    <section class="retangulos pt-5">
        <ol class="Brevisao">
            <li class="ret.esquerdo">
                <div class="revisaoB">
                    <h4 class="H4revisao">Baralho em Revisão no Momento:</h4>
                    <p class="Previsao">
                        Saudações <br />
                        Carta: 5/20
                    </p>
                </div>

                <div class="revisaoP">
                    <h4 class="H4revisao">Meu progresso de Revisão:</h4>
                    <p class="Previsao">
                        Último acesso: 2 dias atrás <br />
                        Necessidade de revisão: Alta
                    </p>
                </div>
            </li>

            <li class="linha.meio">
                <figure>
                    <img src="~/Content/img/linegray.png">
                </figure>
            </li>
            <li class="ret_direito">
                <h3 class="mb-5">Qual seu nível de dificuldade em relação a essa carta?</h3>
                <figure>
                    <img src="~/Content/img/persona01.png">
                </figure>
                <div class="mt-4 mb-5">
                    <div class="mb-3">
                        <button class="btn btn-primary tam_fix_button rounded-pill mr-4">Pular</button>
                        <button class="btn btn-secondary tam_fix_button rounded-pill">Fácil</button>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-success tam_fix_button rounded-pill mr-4">Médio</button>
                        <button class="btn btn-danger tam_fix_button rounded-pill">Difícil</button>
                    </div>
                </div>
            </li>
        </ol>
    </section>
    <!--================ End Fact Area =================-->
    <!--================ Start footer Area  =================-->