/* 	 Header	  */
html{
	overflow: hidden !important;
}
body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
header ul{
	display: flex;
	list-style-type: none;
	margin-right: 1em;
	align-items: center;
}
header h1{
	font-weight: 700;
	font-size: 40px;
	margin-left: 1em;
	margin-bottom: 0;
}
header a{
	color: white !important;
}
header a:hover{
	color: white;
}
header{
	background-color: #002D94;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 1em;
	width: -webkit-fill-available;
	position: fixed;
	top: 0;
	z-index: 1000;
}
li{
	margin: 0 1em !important;
	font-size: 20px;
	font-weight: 600;
}
footer{
	position: fixed;
	bottom: 0;
	width: -webkit-fill-available;
}
header img{
	border-radius: 50%;
}

/*   Main   */

main{
	overflow: hidden;
	position: absolute;
	background-image: radial-gradient(#042470, #021134);
	color: white;
	height: 100%;
	width: 100%;
}